 Plug 'easymotion/vim-easymotion'
 set number
 set relativenumber
 set tabstop=4 softtabstop=4
 set shiftwidth=4
 set expandtab
 set smartindent
 set ignorecase
 set laststatus=2
 set smartcase
 syntax on
 let mapleader = " "
 nnoremap <leader>pv :Vex<CR>
 " Gif config
 map  / <Plug>(easymotion-sn)
 omap / <Plug>(easymotion-tn)
 set ideajoin
 map U <C-R>
 map <leader>r <Action>(RenameElement)
 map <S-Space> <Action>(GotoNextError)
 map <leader>l V<Action>(ReformatCode)
 map <leader>d <Action>(GotoImplementation)
 map <leader>c <Action>(CallHierarchy)
 map <leader>s <Action>(StructureViewPopupMenu)
 map <leader>1 <Action>(MoveEditorToOppositeTabGroup)
 map <leader>n <Action>(Run)
 " These `n` & `N` mappings are options. You do not have to map `n` & `N` to EasyMotion.
" Without these mappings, `n` & `N` works fine. (These mappings just provide
" different highlight method and have some other features )
map  n <Plug>(easymotion-next)
map  N <Plug>(easymotion-prev)
nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>
map  <Leader>f <Plug>(easymotion-bd-f)
nmap <Leader>f <Plug>(easymotion-overwin-f)
let g:EasyMotion_smartcase = 1
let g:gruvbox_contrast_dark='hard'
 map U <C-R>
 map <leader>r <Action>(RenameElement)
 map <S-Space> <Action>(GotoNextError)
 nnoremap <leader>o :action OptimizeImports<CR>
 nnoremap <leader>0 :action ExpressionTypeInfo<CR>
 nnoremap <leader>9 :action ParameterInfo<CR>
 nnoremap <leader>d :action GotoImplementation<CR>
 nnoremap <leader>f :action FindInPath<CR>
 nnoremap <leader>1 :action MoveEditorToOppositeTabGroup<CR>
 nnoremap <leader>b :action ShowBookmarks<CR>
 nnoremap <leader>p :action QuickImplementations<CR>
